<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reverse Text</title>
</head>

<body>
    <form id="textForm">
        <label for="inputText">Enter Text:</label>
        <input type="text" id="inputText" name="inputText">
        <button type="submit">Submit</button>
    </form>
    <div id="output"></div>

    <script src="{{ url_for('static', filename='example.js') }}"></script>
</body>

</html>
